
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* logo navbar  */
/* rem is for resposive terms */
:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark:#212529;
}
/* created variable named --primary-white and used :root to declare variable GLOBALLY */

.logo {
  width : 2.5rem;
  border-radius: 1.25rem;
  margin-left: 0.938rem;
}

/* navbar links */
nav a.nav-link{
  
  letter-spacing: 0.0375rem;
  cursor: pointer; 
  /* The cursor is a pointer that indicates a link. Typically an image of a pointing hand*/
}

nav ul li{
  text-transform: uppercase;
  font-size:xx-small;
}

nav ul {
  margin-left: auto;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav >li > a{
  margin-right: 1.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}
/* the !important term overrides bootstrap styles */

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  
}
.navbar-nav > li > a.active, .navbar-nav >li > a:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}